$color-brand-primary: #1F1131;
$color-brand-secondary: #4B0082;
$color-brand-accent: #FFE412;
$color-brand-lightgray: #E3E3E3;
$color-brand-darkgray: #5E5E5E;
$color-text: #0B0B0B;
$color-success: #2EAC4C;
$color-warning: darkorange;
$color-error: #DC143C;
$color-info: dodgerblue;